<div class="helpbox">
<h1>MultiTwitch.tv</h1>
Welcome to MultiTwitch! You can use this site to watch any number of <a>twitch.tv</a> streams at the same time (as long as your computer can handle it). Simply put the streams you want in the url. For example: <a>multitwitch.tv/siglemic/cosmowright</a>. Multitwitch will optimize the layout of streams to give you the maximum size on each of the streams, while maintaining aspect ratio. Happy streamwatching!

Created by Brian Hamrick
</div>
