body {
    background: black;
    font: 13px arial, sans-serif;
    margin: 8px;
}

#streams {
    text-align: center;
    float: left;
    margin: 0;
    margin-right: -100px;
    padding: 0;
}

#chatbox {
    float: right;
    width: 320px;
    height: 100%;
    margin: 0px;
    margin-left: -100px;
    padding: 0;
}

.stream_chat {
    padding: 0;
}

#helpbox {
    text-align: justify;
    color: white;
    display: none;
    width: 600px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#helpbox h1 {
    text-align: center;
}

#helpbox a {
    color: #e76118;
    text-decoration: none;
}

#helpbox a:hover {
    text-decoration: underline;
}

#helptext {
    margin: 10px;
}

#credits {
    text-align: right;
    font-size: 10px;
    padding-right: 10px;
}

#bottom_bar {
    height: 1em;
    position: absolute;
    bottom: 0px;
}

#bottom_right_bar {
    float: right;
}

#bottom_bar a {
    color: white;
}

#bottom_bar a:hover {
    text-decoration: none;
}
