body {
    background: black;
    font: 13px arial, sans-serif;
    margin: 8px;
    color: white;
}

a {
    color: white;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

#streams {
    text-align: center;
    float: left;
    margin: 0;
    margin-right: -100px;
    padding: 0;
}

iframe {
    border:0 none;
}

#chatbox {
    float: right;
    width: 320px;
    height: 100%;
    margin: 0px;
    margin-left: -100px;
    padding: 0;
}

.stream_chat {
    padding: 0;
}

#helpbox {
    text-align: justify;
    display: none;
    width: 600px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#helpbox h1 {
    text-align: center;
}

#helpbox a {
    color: #e76118;
    text-decoration: none;
}

#helpbox a:hover {
    text-decoration: underline;
}

#helptext {
    margin: 10px;
}

#credits {
    text-align: right;
    font-size: 10px;
    padding-right: 10px;
}

#bottom_right_bar {
    height: 1em;
    position: absolute;
    right: 8px;
    bottom: 12px;
}

.optionbox {
    z-index: 5;
    display: none;
    background: rgba(0,0,0,0.65);
    padding: 5px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    position: absolute;
}

#change_streams {
    width: 127px;
}

.streamlist_item .stream_name {
    width: 123px;
}

.fullwidth {
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.centering {
    text-align: center;
}

.clear {
    clear: both;
}
