body {
    background: black;
}

#wrapper {
    text-align: center;
}

#helpbox {
    text-align: center;
    color: white;
    display: none;
    width: 600px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#helpbox a {
    color: #e76118;
    text-decoration: none;
}

#helpbox a:hover {
    text-decoration: underline;
}
