			var player_objs = {};
			var player_type = "";
			var layout_groups = { 1: { 0: {'haschat': true,},1: {'haschat': true,},2: {'haschat': false,}, },2: { 3: {'haschat': true,},4: {'haschat': true,},5: {'haschat': false,}, },3: { 6: {'haschat': true,},7: {'haschat': true,},8: {'haschat': false,},9: {'haschat': false,}, },4: { 10: {'haschat': true,},11: {'haschat': true,},12: {'haschat': false,},13: {'haschat': false,}, },5: { 14: {'haschat': true,},15: {'haschat': true,},16: {'haschat': false,}, },6: { 17: {'haschat': true,},18: {'haschat': false,}, },7: { 19: {'haschat': true,},20: {'haschat': true,},21: {'haschat': false,}, },8: { 22: {'haschat': true,},23: {'haschat': false,}, }, };
