		<script src="/static/js/fqMiGzLo7_r-a_ahQ5LjKe-jt-Y.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.js"></script>
		<!--
        <script type="text/javascript" src="https://multistre.am/static/plugins.js"></script>
		<script type="text/javascript" src="https://multistre.am/static/script.js"></script>
        -->
		<script type="text/javascript" src="/static/js/plugins.js"></script>
		<script type="text/javascript" src="/static/js/script.js"></script>
