		<link href="/static/images/favicon.jpg" rel="shortcut icon"/>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
		<link href="https://fonts.googleapis.com/css?family=PT+Sans:400italic,700italic,400,700" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="/static/css/multistream.css" />
		
