        <!-- footer -->
        <!-- -->
		<ul id="menu-primary-menu" class="menu">
			<li>Sponsored by the <a href="//kbmod.com/" target="_blank">KBMOD PC Gaming Community</a> / </li>
			<li><a href="//kbmod.com/category/podcast/" target="_blank">Podcast</a> / </li>
			<li><a href="//kbmod.com/category/build-guides/" target="_blank">Build Guides</a> / </li>
			<li><a href="//kbmod.com/merch/" target="_blank">Merch</a> / </li>
			<li><a href="//kbmod.com/join-us/" target="_blank">Join Us</a> </li>
		</ul>
        <!-- -->
