<!DOCTYPE HTML>
<html>
<head>
<title>{{ project }}</title>
<link rel="stylesheet" type="text/css" href="/static/css/multitwitch.css" />
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/sizer.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    optimize_size({{ len(streams) }});
}
$(document).resize(function() {
    optimize_size({{ len(streams) }});
}
</script>
</head>
<body>
<div id="wrapper">
{% for stream in streams %}

<object type="application/x-shockwave-flash" height="255" width="400" id="embed_{{ stream }}" class="stream" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel={{ stream }}" bgcolor="#000000"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.twitch.tv&channel={{ stream }}&auto_play=true&start_volume=0" /></object>

{% endfor %}
</div>
</body>
</html>
