<!DOCTYPE HTML>
<html>
<head>
<title>{{ project }}</title>
</head>
<body>
This is just a test homepage. The name of this project is {{ project }}.

{% for stream in streams %}

<object type="application/x-shockwave-flash" height="300" width="400" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel={{ stream }}" bgcolor="#000000"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.twitch.tv&channel={{ stream }}&auto_play=true&start_volume=25" /></object><a href="http://www.twitch.tv/{{ stream }}#r=-rid-&amp;s=em" class="trk" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline; text-align:center;">Watch on www.twitch.tv</a>

{% endfor %}
</body>
</html>
