<style type="text/css">


    #layoutwrapper[data-layout-index="0"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="0"] .streamcontainer[data-index="0"] { display: block; width:75%; height:100%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="0"] .streamoverlay[data-index="0"] { display: block; width:75%; left:0%; top:0%; }
    
    
    #layoutwrapper[data-layout-index="0"] .chatcontainer[data-index="0"] { display: block; width:25%; height:100%; left:75%; top:0%; }
        
            #layoutwrapper[data-layout-index="0"] .chatcontainer[data-index="0"] { z-index: 0 !important; visibility: visible !important; }
        
        
            #layoutwrapper[data-layout-index="0"] .chatcontainer[data-index="0"] .chatselector[data-index="0"] { display: block; }
        
    
    
        #layoutwrapper[data-layout-index="0"] .hidden-when-one-stream {display: none;}
    
    

    #layoutwrapper[data-layout-index="1"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="1"] .streamcontainer[data-index="0"] { display: block; width:100%; height:60%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="1"] .streamoverlay[data-index="0"] { display: block; width:100%; left:0%; top:0%; }
    
    
    #layoutwrapper[data-layout-index="1"] .chatcontainer[data-index="0"] { display: block; width:100%; height:40%; left:0%; top:60%; }
        
            #layoutwrapper[data-layout-index="1"] .chatcontainer[data-index="0"] { z-index: 0 !important; visibility: visible !important; }
        
        
            #layoutwrapper[data-layout-index="1"] .chatcontainer[data-index="0"] .chatselector[data-index="0"] { display: block; }
        
    
    
        #layoutwrapper[data-layout-index="1"] .hidden-when-one-stream {display: none;}
    
    

    #layoutwrapper[data-layout-index="2"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="2"] .streamcontainer[data-index="0"] { display: block; width:100%; height:100%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="2"] .streamoverlay[data-index="0"] { display: block; width:100%; left:0%; top:0%; }
    
    
    
        #layoutwrapper[data-layout-index="2"] .hidden-when-one-stream {display: none;}
    
    
        #layoutwrapper[data-layout-index="2"] .hidden-when-no-chat {display: none;}
        #layoutwrapper[data-layout-index="2"] .streamoverlay .mainbuttons button {border-radius: 5px;}
    



    #layoutwrapper[data-layout-index="3"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="3"] .streamcontainer[data-index="0"] { display: block; width:75%; height:50%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="3"] .streamoverlay[data-index="0"] { display: block; width:75%; left:0%; top:0%; }
    
    #layoutwrapper[data-layout-index="3"] .streamcontainer[data-index="1"] { display: block; width:75%; height:50%; left:0%; top:50%; }
    #layoutwrapper[data-layout-index="3"] .streamoverlay[data-index="1"] { display: block; width:75%; left:0%; top:50%; }
    
    
    #layoutwrapper[data-layout-index="3"] .chatcontainer[data-index="0"] { display: block; width:25%; height:100%; left:75%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="3"] .chatcontainer[data-index="0"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="3"] .chatcontainer[data-index="0"] .chatselector[data-index="1"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="3"] .chatcontainer[data-index="1"] { display: block; width:25%; height:100%; left:75%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="3"] .chatcontainer[data-index="1"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="3"] .chatcontainer[data-index="1"] .chatselector[data-index="1"] { display: block; }
        
    
    
    

    #layoutwrapper[data-layout-index="4"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="4"] .streamcontainer[data-index="0"] { display: block; width:50%; height:58%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="4"] .streamoverlay[data-index="0"] { display: block; width:50%; left:0%; top:0%; }
    
    #layoutwrapper[data-layout-index="4"] .streamcontainer[data-index="1"] { display: block; width:50%; height:58%; left:50%; top:0%; }
    #layoutwrapper[data-layout-index="4"] .streamoverlay[data-index="1"] { display: block; width:50%; left:50%; top:0%; }
    
    
    #layoutwrapper[data-layout-index="4"] .chatcontainer[data-index="0"] { display: block; width:50%; height:42%; left:0%; top:58%; }
        
            #layoutwrapper[data-layout-index="4"] .chatcontainer[data-index="0"] { z-index: 0 !important; visibility: visible !important; }
        
        
            #layoutwrapper[data-layout-index="4"] .chatcontainer[data-index="0"] .chatselector[data-index="0"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="4"] .chatcontainer[data-index="1"] { display: block; width:50%; height:42%; left:50%; top:58%; }
        
            #layoutwrapper[data-layout-index="4"] .chatcontainer[data-index="1"] { z-index: 0 !important; visibility: visible !important; }
        
        
            #layoutwrapper[data-layout-index="4"] .chatcontainer[data-index="1"] .chatselector[data-index="1"] { display: block; }
        
    
    
    

    #layoutwrapper[data-layout-index="5"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="5"] .streamcontainer[data-index="0"] { display: block; width:100%; height:50%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="5"] .streamoverlay[data-index="0"] { display: block; width:100%; left:0%; top:0%; }
    
    #layoutwrapper[data-layout-index="5"] .streamcontainer[data-index="1"] { display: block; width:100%; height:50%; left:0%; top:50%; }
    #layoutwrapper[data-layout-index="5"] .streamoverlay[data-index="1"] { display: block; width:100%; left:0%; top:50%; }
    
    
    
    
        #layoutwrapper[data-layout-index="5"] .hidden-when-no-chat {display: none;}
        #layoutwrapper[data-layout-index="5"] .streamoverlay .mainbuttons button {border-radius: 5px;}
    



    #layoutwrapper[data-layout-index="6"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="6"] .streamcontainer[data-index="0"] { display: block; width:75%; height:65%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="6"] .streamoverlay[data-index="0"] { display: block; width:75%; left:0%; top:0%; }
    
    #layoutwrapper[data-layout-index="6"] .streamcontainer[data-index="1"] { display: block; width:37%; height:35%; left:0%; top:65%; }
    #layoutwrapper[data-layout-index="6"] .streamoverlay[data-index="1"] { display: block; width:37%; left:0%; top:65%; }
    
    #layoutwrapper[data-layout-index="6"] .streamcontainer[data-index="2"] { display: block; width:38%; height:35%; left:37%; top:65%; }
    #layoutwrapper[data-layout-index="6"] .streamoverlay[data-index="2"] { display: block; width:38%; left:37%; top:65%; }
    
    
    #layoutwrapper[data-layout-index="6"] .chatcontainer[data-index="0"] { display: block; width:25%; height:100%; left:75%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="6"] .chatcontainer[data-index="0"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="6"] .chatcontainer[data-index="0"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="6"] .chatcontainer[data-index="0"] .chatselector[data-index="2"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="6"] .chatcontainer[data-index="1"] { display: block; width:25%; height:100%; left:75%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="6"] .chatcontainer[data-index="1"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="6"] .chatcontainer[data-index="1"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="6"] .chatcontainer[data-index="1"] .chatselector[data-index="2"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="6"] .chatcontainer[data-index="2"] { display: block; width:25%; height:100%; left:75%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="6"] .chatcontainer[data-index="2"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="6"] .chatcontainer[data-index="2"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="6"] .chatcontainer[data-index="2"] .chatselector[data-index="2"] { display: block; }
        
    
    
    

    #layoutwrapper[data-layout-index="7"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="7"] .streamcontainer[data-index="0"] { display: block; width:50%; height:50%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="7"] .streamoverlay[data-index="0"] { display: block; width:50%; left:0%; top:0%; }
    
    #layoutwrapper[data-layout-index="7"] .streamcontainer[data-index="1"] { display: block; width:50%; height:50%; left:50%; top:0%; }
    #layoutwrapper[data-layout-index="7"] .streamoverlay[data-index="1"] { display: block; width:50%; left:50%; top:0%; }
    
    #layoutwrapper[data-layout-index="7"] .streamcontainer[data-index="2"] { display: block; width:50%; height:50%; left:0%; top:50%; }
    #layoutwrapper[data-layout-index="7"] .streamoverlay[data-index="2"] { display: block; width:50%; left:0%; top:50%; }
    
    
    #layoutwrapper[data-layout-index="7"] .chatcontainer[data-index="0"] { display: block; width:50%; height:50%; left:50%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="7"] .chatcontainer[data-index="0"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="7"] .chatcontainer[data-index="0"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="7"] .chatcontainer[data-index="0"] .chatselector[data-index="2"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="7"] .chatcontainer[data-index="1"] { display: block; width:50%; height:50%; left:50%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="7"] .chatcontainer[data-index="1"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="7"] .chatcontainer[data-index="1"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="7"] .chatcontainer[data-index="1"] .chatselector[data-index="2"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="7"] .chatcontainer[data-index="2"] { display: block; width:50%; height:50%; left:50%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="7"] .chatcontainer[data-index="2"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="7"] .chatcontainer[data-index="2"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="7"] .chatcontainer[data-index="2"] .chatselector[data-index="2"] { display: block; }
        
    
    
    

    #layoutwrapper[data-layout-index="8"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="8"] .streamcontainer[data-index="0"] { display: block; width:100%; height:60%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="8"] .streamoverlay[data-index="0"] { display: block; width:100%; left:0%; top:0%; }
    
    #layoutwrapper[data-layout-index="8"] .streamcontainer[data-index="1"] { display: block; width:50%; height:40%; left:0%; top:60%; }
    #layoutwrapper[data-layout-index="8"] .streamoverlay[data-index="1"] { display: block; width:50%; left:0%; top:60%; }
    
    #layoutwrapper[data-layout-index="8"] .streamcontainer[data-index="2"] { display: block; width:50%; height:40%; left:50%; top:60%; }
    #layoutwrapper[data-layout-index="8"] .streamoverlay[data-index="2"] { display: block; width:50%; left:50%; top:60%; }
    
    
    
    
        #layoutwrapper[data-layout-index="8"] .hidden-when-no-chat {display: none;}
        #layoutwrapper[data-layout-index="8"] .streamoverlay .mainbuttons button {border-radius: 5px;}
    

    #layoutwrapper[data-layout-index="9"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="9"] .streamcontainer[data-index="0"] { display: block; width:100%; height:34%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="9"] .streamoverlay[data-index="0"] { display: block; width:100%; left:0%; top:0%; }
    
    #layoutwrapper[data-layout-index="9"] .streamcontainer[data-index="1"] { display: block; width:100%; height:33%; left:0%; top:34%; }
    #layoutwrapper[data-layout-index="9"] .streamoverlay[data-index="1"] { display: block; width:100%; left:0%; top:34%; }
    
    #layoutwrapper[data-layout-index="9"] .streamcontainer[data-index="2"] { display: block; width:100%; height:33%; left:0%; top:67%; }
    #layoutwrapper[data-layout-index="9"] .streamoverlay[data-index="2"] { display: block; width:100%; left:0%; top:67%; }
    
    
    
    
        #layoutwrapper[data-layout-index="9"] .hidden-when-no-chat {display: none;}
        #layoutwrapper[data-layout-index="9"] .streamoverlay .mainbuttons button {border-radius: 5px;}
    



    #layoutwrapper[data-layout-index="10"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="10"] .streamcontainer[data-index="0"] { display: block; width:75%; height:65%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="10"] .streamoverlay[data-index="0"] { display: block; width:75%; left:0%; top:0%; }
    
    #layoutwrapper[data-layout-index="10"] .streamcontainer[data-index="1"] { display: block; width:33%; height:35%; left:0%; top:65%; }
    #layoutwrapper[data-layout-index="10"] .streamoverlay[data-index="1"] { display: block; width:33%; left:0%; top:65%; }
    
    #layoutwrapper[data-layout-index="10"] .streamcontainer[data-index="2"] { display: block; width:34%; height:35%; left:33%; top:65%; }
    #layoutwrapper[data-layout-index="10"] .streamoverlay[data-index="2"] { display: block; width:34%; left:33%; top:65%; }
    
    #layoutwrapper[data-layout-index="10"] .streamcontainer[data-index="3"] { display: block; width:33%; height:35%; left:67%; top:65%; }
    #layoutwrapper[data-layout-index="10"] .streamoverlay[data-index="3"] { display: block; width:33%; left:67%; top:65%; }
    
    
    #layoutwrapper[data-layout-index="10"] .chatcontainer[data-index="0"] { display: block; width:25%; height:65%; left:75%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="10"] .chatcontainer[data-index="0"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="10"] .chatcontainer[data-index="0"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="10"] .chatcontainer[data-index="0"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="10"] .chatcontainer[data-index="0"] .chatselector[data-index="3"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="10"] .chatcontainer[data-index="1"] { display: block; width:25%; height:65%; left:75%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="10"] .chatcontainer[data-index="1"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="10"] .chatcontainer[data-index="1"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="10"] .chatcontainer[data-index="1"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="10"] .chatcontainer[data-index="1"] .chatselector[data-index="3"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="10"] .chatcontainer[data-index="2"] { display: block; width:25%; height:65%; left:75%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="10"] .chatcontainer[data-index="2"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="10"] .chatcontainer[data-index="2"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="10"] .chatcontainer[data-index="2"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="10"] .chatcontainer[data-index="2"] .chatselector[data-index="3"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="10"] .chatcontainer[data-index="3"] { display: block; width:25%; height:65%; left:75%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="10"] .chatcontainer[data-index="3"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="10"] .chatcontainer[data-index="3"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="10"] .chatcontainer[data-index="3"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="10"] .chatcontainer[data-index="3"] .chatselector[data-index="3"] { display: block; }
        
    
    
    

    #layoutwrapper[data-layout-index="11"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="11"] .streamcontainer[data-index="0"] { display: block; width:37%; height:50%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="11"] .streamoverlay[data-index="0"] { display: block; width:37%; left:0%; top:0%; }
    
    #layoutwrapper[data-layout-index="11"] .streamcontainer[data-index="1"] { display: block; width:38%; height:50%; left:37%; top:0%; }
    #layoutwrapper[data-layout-index="11"] .streamoverlay[data-index="1"] { display: block; width:38%; left:37%; top:0%; }
    
    #layoutwrapper[data-layout-index="11"] .streamcontainer[data-index="2"] { display: block; width:37%; height:50%; left:0%; top:50%; }
    #layoutwrapper[data-layout-index="11"] .streamoverlay[data-index="2"] { display: block; width:37%; left:0%; top:50%; }
    
    #layoutwrapper[data-layout-index="11"] .streamcontainer[data-index="3"] { display: block; width:38%; height:50%; left:37%; top:50%; }
    #layoutwrapper[data-layout-index="11"] .streamoverlay[data-index="3"] { display: block; width:38%; left:37%; top:50%; }
    
    
    #layoutwrapper[data-layout-index="11"] .chatcontainer[data-index="0"] { display: block; width:25%; height:100%; left:75%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="11"] .chatcontainer[data-index="0"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="11"] .chatcontainer[data-index="0"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="11"] .chatcontainer[data-index="0"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="11"] .chatcontainer[data-index="0"] .chatselector[data-index="3"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="11"] .chatcontainer[data-index="1"] { display: block; width:25%; height:100%; left:75%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="11"] .chatcontainer[data-index="1"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="11"] .chatcontainer[data-index="1"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="11"] .chatcontainer[data-index="1"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="11"] .chatcontainer[data-index="1"] .chatselector[data-index="3"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="11"] .chatcontainer[data-index="2"] { display: block; width:25%; height:100%; left:75%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="11"] .chatcontainer[data-index="2"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="11"] .chatcontainer[data-index="2"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="11"] .chatcontainer[data-index="2"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="11"] .chatcontainer[data-index="2"] .chatselector[data-index="3"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="11"] .chatcontainer[data-index="3"] { display: block; width:25%; height:100%; left:75%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="11"] .chatcontainer[data-index="3"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="11"] .chatcontainer[data-index="3"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="11"] .chatcontainer[data-index="3"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="11"] .chatcontainer[data-index="3"] .chatselector[data-index="3"] { display: block; }
        
    
    
    

    #layoutwrapper[data-layout-index="12"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="12"] .streamcontainer[data-index="0"] { display: block; width:50%; height:50%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="12"] .streamoverlay[data-index="0"] { display: block; width:50%; left:0%; top:0%; }
    
    #layoutwrapper[data-layout-index="12"] .streamcontainer[data-index="1"] { display: block; width:50%; height:50%; left:50%; top:0%; }
    #layoutwrapper[data-layout-index="12"] .streamoverlay[data-index="1"] { display: block; width:50%; left:50%; top:0%; }
    
    #layoutwrapper[data-layout-index="12"] .streamcontainer[data-index="2"] { display: block; width:50%; height:50%; left:0%; top:50%; }
    #layoutwrapper[data-layout-index="12"] .streamoverlay[data-index="2"] { display: block; width:50%; left:0%; top:50%; }
    
    #layoutwrapper[data-layout-index="12"] .streamcontainer[data-index="3"] { display: block; width:50%; height:50%; left:50%; top:50%; }
    #layoutwrapper[data-layout-index="12"] .streamoverlay[data-index="3"] { display: block; width:50%; left:50%; top:50%; }
    
    
    
    
        #layoutwrapper[data-layout-index="12"] .hidden-when-no-chat {display: none;}
        #layoutwrapper[data-layout-index="12"] .streamoverlay .mainbuttons button {border-radius: 5px;}
    

    #layoutwrapper[data-layout-index="13"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="13"] .streamcontainer[data-index="0"] { display: block; width:100%; height:25%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="13"] .streamoverlay[data-index="0"] { display: block; width:100%; left:0%; top:0%; }
    
    #layoutwrapper[data-layout-index="13"] .streamcontainer[data-index="1"] { display: block; width:100%; height:25%; left:0%; top:25%; }
    #layoutwrapper[data-layout-index="13"] .streamoverlay[data-index="1"] { display: block; width:100%; left:0%; top:25%; }
    
    #layoutwrapper[data-layout-index="13"] .streamcontainer[data-index="2"] { display: block; width:100%; height:25%; left:0%; top:50%; }
    #layoutwrapper[data-layout-index="13"] .streamoverlay[data-index="2"] { display: block; width:100%; left:0%; top:50%; }
    
    #layoutwrapper[data-layout-index="13"] .streamcontainer[data-index="3"] { display: block; width:100%; height:25%; left:0%; top:75%; }
    #layoutwrapper[data-layout-index="13"] .streamoverlay[data-index="3"] { display: block; width:100%; left:0%; top:75%; }
    
    
    
    
        #layoutwrapper[data-layout-index="13"] .hidden-when-no-chat {display: none;}
        #layoutwrapper[data-layout-index="13"] .streamoverlay .mainbuttons button {border-radius: 5px;}
    



    #layoutwrapper[data-layout-index="14"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="14"] .streamcontainer[data-index="0"] { display: block; width:37%; height:60%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="14"] .streamoverlay[data-index="0"] { display: block; width:37%; left:0%; top:0%; }
    
    #layoutwrapper[data-layout-index="14"] .streamcontainer[data-index="1"] { display: block; width:38%; height:60%; left:37%; top:0%; }
    #layoutwrapper[data-layout-index="14"] .streamoverlay[data-index="1"] { display: block; width:38%; left:37%; top:0%; }
    
    #layoutwrapper[data-layout-index="14"] .streamcontainer[data-index="2"] { display: block; width:33%; height:40%; left:0%; top:60%; }
    #layoutwrapper[data-layout-index="14"] .streamoverlay[data-index="2"] { display: block; width:33%; left:0%; top:60%; }
    
    #layoutwrapper[data-layout-index="14"] .streamcontainer[data-index="3"] { display: block; width:34%; height:40%; left:33%; top:60%; }
    #layoutwrapper[data-layout-index="14"] .streamoverlay[data-index="3"] { display: block; width:34%; left:33%; top:60%; }
    
    #layoutwrapper[data-layout-index="14"] .streamcontainer[data-index="4"] { display: block; width:33%; height:40%; left:67%; top:60%; }
    #layoutwrapper[data-layout-index="14"] .streamoverlay[data-index="4"] { display: block; width:33%; left:67%; top:60%; }
    
    
    #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="0"] { display: block; width:25%; height:60%; left:75%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="0"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="0"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="0"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="0"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="0"] .chatselector[data-index="4"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="1"] { display: block; width:25%; height:60%; left:75%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="1"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="1"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="1"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="1"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="1"] .chatselector[data-index="4"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="2"] { display: block; width:25%; height:60%; left:75%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="2"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="2"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="2"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="2"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="2"] .chatselector[data-index="4"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="3"] { display: block; width:25%; height:60%; left:75%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="3"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="3"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="3"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="3"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="3"] .chatselector[data-index="4"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="4"] { display: block; width:25%; height:60%; left:75%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="4"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="4"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="4"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="4"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="14"] .chatcontainer[data-index="4"] .chatselector[data-index="4"] { display: block; }
        
    
    
    

    #layoutwrapper[data-layout-index="15"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="15"] .streamcontainer[data-index="0"] { display: block; width:33%; height:50%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="15"] .streamoverlay[data-index="0"] { display: block; width:33%; left:0%; top:0%; }
    
    #layoutwrapper[data-layout-index="15"] .streamcontainer[data-index="1"] { display: block; width:34%; height:50%; left:33%; top:0%; }
    #layoutwrapper[data-layout-index="15"] .streamoverlay[data-index="1"] { display: block; width:34%; left:33%; top:0%; }
    
    #layoutwrapper[data-layout-index="15"] .streamcontainer[data-index="2"] { display: block; width:33%; height:50%; left:67%; top:0%; }
    #layoutwrapper[data-layout-index="15"] .streamoverlay[data-index="2"] { display: block; width:33%; left:67%; top:0%; }
    
    #layoutwrapper[data-layout-index="15"] .streamcontainer[data-index="3"] { display: block; width:33%; height:50%; left:0%; top:50%; }
    #layoutwrapper[data-layout-index="15"] .streamoverlay[data-index="3"] { display: block; width:33%; left:0%; top:50%; }
    
    #layoutwrapper[data-layout-index="15"] .streamcontainer[data-index="4"] { display: block; width:33%; height:50%; left:67%; top:50%; }
    #layoutwrapper[data-layout-index="15"] .streamoverlay[data-index="4"] { display: block; width:33%; left:67%; top:50%; }
    
    
    #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="0"] { display: block; width:34%; height:50%; left:33%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="0"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="0"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="0"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="0"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="0"] .chatselector[data-index="4"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="1"] { display: block; width:34%; height:50%; left:33%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="1"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="1"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="1"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="1"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="1"] .chatselector[data-index="4"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="2"] { display: block; width:34%; height:50%; left:33%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="2"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="2"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="2"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="2"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="2"] .chatselector[data-index="4"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="3"] { display: block; width:34%; height:50%; left:33%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="3"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="3"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="3"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="3"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="3"] .chatselector[data-index="4"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="4"] { display: block; width:34%; height:50%; left:33%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="4"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="4"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="4"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="4"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="15"] .chatcontainer[data-index="4"] .chatselector[data-index="4"] { display: block; }
        
    
    
    

    #layoutwrapper[data-layout-index="16"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="16"] .streamcontainer[data-index="0"] { display: block; width:50%; height:60%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="16"] .streamoverlay[data-index="0"] { display: block; width:50%; left:0%; top:0%; }
    
    #layoutwrapper[data-layout-index="16"] .streamcontainer[data-index="1"] { display: block; width:50%; height:60%; left:50%; top:0%; }
    #layoutwrapper[data-layout-index="16"] .streamoverlay[data-index="1"] { display: block; width:50%; left:50%; top:0%; }
    
    #layoutwrapper[data-layout-index="16"] .streamcontainer[data-index="2"] { display: block; width:33%; height:40%; left:0%; top:60%; }
    #layoutwrapper[data-layout-index="16"] .streamoverlay[data-index="2"] { display: block; width:33%; left:0%; top:60%; }
    
    #layoutwrapper[data-layout-index="16"] .streamcontainer[data-index="3"] { display: block; width:34%; height:40%; left:33%; top:60%; }
    #layoutwrapper[data-layout-index="16"] .streamoverlay[data-index="3"] { display: block; width:34%; left:33%; top:60%; }
    
    #layoutwrapper[data-layout-index="16"] .streamcontainer[data-index="4"] { display: block; width:33%; height:40%; left:67%; top:60%; }
    #layoutwrapper[data-layout-index="16"] .streamoverlay[data-index="4"] { display: block; width:33%; left:67%; top:60%; }
    
    
    
    
        #layoutwrapper[data-layout-index="16"] .hidden-when-no-chat {display: none;}
        #layoutwrapper[data-layout-index="16"] .streamoverlay .mainbuttons button {border-radius: 5px;}
    



    #layoutwrapper[data-layout-index="17"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="17"] .streamcontainer[data-index="0"] { display: block; width:38%; height:33%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="17"] .streamoverlay[data-index="0"] { display: block; width:38%; left:0%; top:0%; }
    
    #layoutwrapper[data-layout-index="17"] .streamcontainer[data-index="1"] { display: block; width:38%; height:33%; left:38%; top:0%; }
    #layoutwrapper[data-layout-index="17"] .streamoverlay[data-index="1"] { display: block; width:38%; left:38%; top:0%; }
    
    #layoutwrapper[data-layout-index="17"] .streamcontainer[data-index="2"] { display: block; width:38%; height:34%; left:0%; top:33%; }
    #layoutwrapper[data-layout-index="17"] .streamoverlay[data-index="2"] { display: block; width:38%; left:0%; top:33%; }
    
    #layoutwrapper[data-layout-index="17"] .streamcontainer[data-index="3"] { display: block; width:38%; height:34%; left:38%; top:33%; }
    #layoutwrapper[data-layout-index="17"] .streamoverlay[data-index="3"] { display: block; width:38%; left:38%; top:33%; }
    
    #layoutwrapper[data-layout-index="17"] .streamcontainer[data-index="4"] { display: block; width:38%; height:33%; left:0%; top:67%; }
    #layoutwrapper[data-layout-index="17"] .streamoverlay[data-index="4"] { display: block; width:38%; left:0%; top:67%; }
    
    #layoutwrapper[data-layout-index="17"] .streamcontainer[data-index="5"] { display: block; width:38%; height:33%; left:38%; top:67%; }
    #layoutwrapper[data-layout-index="17"] .streamoverlay[data-index="5"] { display: block; width:38%; left:38%; top:67%; }
    
    
    #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="0"] { display: block; width:24%; height:100%; left:76%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="0"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="0"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="0"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="0"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="0"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="0"] .chatselector[data-index="5"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="1"] { display: block; width:24%; height:100%; left:76%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="1"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="1"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="1"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="1"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="1"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="1"] .chatselector[data-index="5"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="2"] { display: block; width:24%; height:100%; left:76%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="2"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="2"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="2"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="2"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="2"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="2"] .chatselector[data-index="5"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="3"] { display: block; width:24%; height:100%; left:76%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="3"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="3"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="3"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="3"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="3"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="3"] .chatselector[data-index="5"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="4"] { display: block; width:24%; height:100%; left:76%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="4"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="4"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="4"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="4"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="4"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="4"] .chatselector[data-index="5"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="5"] { display: block; width:24%; height:100%; left:76%; top:0%; }
        
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="5"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="5"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="5"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="5"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="5"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="17"] .chatcontainer[data-index="5"] .chatselector[data-index="5"] { display: block; }
        
    
    
    

    #layoutwrapper[data-layout-index="18"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="18"] .streamcontainer[data-index="0"] { display: block; width:33%; height:50%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="18"] .streamoverlay[data-index="0"] { display: block; width:33%; left:0%; top:0%; }
    
    #layoutwrapper[data-layout-index="18"] .streamcontainer[data-index="1"] { display: block; width:34%; height:50%; left:33%; top:0%; }
    #layoutwrapper[data-layout-index="18"] .streamoverlay[data-index="1"] { display: block; width:34%; left:33%; top:0%; }
    
    #layoutwrapper[data-layout-index="18"] .streamcontainer[data-index="2"] { display: block; width:33%; height:50%; left:67%; top:0%; }
    #layoutwrapper[data-layout-index="18"] .streamoverlay[data-index="2"] { display: block; width:33%; left:67%; top:0%; }
    
    #layoutwrapper[data-layout-index="18"] .streamcontainer[data-index="3"] { display: block; width:33%; height:50%; left:0%; top:50%; }
    #layoutwrapper[data-layout-index="18"] .streamoverlay[data-index="3"] { display: block; width:33%; left:0%; top:50%; }
    
    #layoutwrapper[data-layout-index="18"] .streamcontainer[data-index="4"] { display: block; width:34%; height:50%; left:33%; top:50%; }
    #layoutwrapper[data-layout-index="18"] .streamoverlay[data-index="4"] { display: block; width:34%; left:33%; top:50%; }
    
    #layoutwrapper[data-layout-index="18"] .streamcontainer[data-index="5"] { display: block; width:33%; height:50%; left:67%; top:50%; }
    #layoutwrapper[data-layout-index="18"] .streamoverlay[data-index="5"] { display: block; width:33%; left:67%; top:50%; }
    
    
    
    
        #layoutwrapper[data-layout-index="18"] .hidden-when-no-chat {display: none;}
        #layoutwrapper[data-layout-index="18"] .streamoverlay .mainbuttons button {border-radius: 5px;}
    



    #layoutwrapper[data-layout-index="19"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="19"] .streamcontainer[data-index="0"] { display: block; width:25%; height:50%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="19"] .streamoverlay[data-index="0"] { display: block; width:25%; left:0%; top:0%; }
    
    #layoutwrapper[data-layout-index="19"] .streamcontainer[data-index="1"] { display: block; width:25%; height:50%; left:25%; top:0%; }
    #layoutwrapper[data-layout-index="19"] .streamoverlay[data-index="1"] { display: block; width:25%; left:25%; top:0%; }
    
    #layoutwrapper[data-layout-index="19"] .streamcontainer[data-index="2"] { display: block; width:25%; height:50%; left:50%; top:0%; }
    #layoutwrapper[data-layout-index="19"] .streamoverlay[data-index="2"] { display: block; width:25%; left:50%; top:0%; }
    
    #layoutwrapper[data-layout-index="19"] .streamcontainer[data-index="3"] { display: block; width:25%; height:50%; left:75%; top:0%; }
    #layoutwrapper[data-layout-index="19"] .streamoverlay[data-index="3"] { display: block; width:25%; left:75%; top:0%; }
    
    #layoutwrapper[data-layout-index="19"] .streamcontainer[data-index="4"] { display: block; width:25%; height:50%; left:0%; top:50%; }
    #layoutwrapper[data-layout-index="19"] .streamoverlay[data-index="4"] { display: block; width:25%; left:0%; top:50%; }
    
    #layoutwrapper[data-layout-index="19"] .streamcontainer[data-index="5"] { display: block; width:25%; height:50%; left:25%; top:50%; }
    #layoutwrapper[data-layout-index="19"] .streamoverlay[data-index="5"] { display: block; width:25%; left:25%; top:50%; }
    
    #layoutwrapper[data-layout-index="19"] .streamcontainer[data-index="6"] { display: block; width:25%; height:50%; left:50%; top:50%; }
    #layoutwrapper[data-layout-index="19"] .streamoverlay[data-index="6"] { display: block; width:25%; left:50%; top:50%; }
    
    
    #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="0"] { display: block; width:25%; height:50%; left:75%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="0"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="0"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="0"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="0"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="0"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="0"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="0"] .chatselector[data-index="6"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="1"] { display: block; width:25%; height:50%; left:75%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="1"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="1"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="1"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="1"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="1"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="1"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="1"] .chatselector[data-index="6"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="2"] { display: block; width:25%; height:50%; left:75%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="2"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="2"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="2"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="2"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="2"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="2"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="2"] .chatselector[data-index="6"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="3"] { display: block; width:25%; height:50%; left:75%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="3"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="3"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="3"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="3"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="3"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="3"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="3"] .chatselector[data-index="6"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="4"] { display: block; width:25%; height:50%; left:75%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="4"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="4"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="4"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="4"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="4"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="4"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="4"] .chatselector[data-index="6"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="5"] { display: block; width:25%; height:50%; left:75%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="5"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="5"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="5"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="5"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="5"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="5"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="5"] .chatselector[data-index="6"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="6"] { display: block; width:25%; height:50%; left:75%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="6"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="6"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="6"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="6"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="6"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="6"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="19"] .chatcontainer[data-index="6"] .chatselector[data-index="6"] { display: block; }
        
    
    
    

    #layoutwrapper[data-layout-index="20"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="20"] .streamcontainer[data-index="0"] { display: block; width:50%; height:50%; left:25%; top:0%; }
    #layoutwrapper[data-layout-index="20"] .streamoverlay[data-index="0"] { display: block; width:50%; left:25%; top:0%; }
    
    #layoutwrapper[data-layout-index="20"] .streamcontainer[data-index="1"] { display: block; width:25%; height:33%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="20"] .streamoverlay[data-index="1"] { display: block; width:25%; left:0%; top:0%; }
    
    #layoutwrapper[data-layout-index="20"] .streamcontainer[data-index="2"] { display: block; width:25%; height:34%; left:0%; top:33%; }
    #layoutwrapper[data-layout-index="20"] .streamoverlay[data-index="2"] { display: block; width:25%; left:0%; top:33%; }
    
    #layoutwrapper[data-layout-index="20"] .streamcontainer[data-index="3"] { display: block; width:25%; height:33%; left:0%; top:67%; }
    #layoutwrapper[data-layout-index="20"] .streamoverlay[data-index="3"] { display: block; width:25%; left:0%; top:67%; }
    
    #layoutwrapper[data-layout-index="20"] .streamcontainer[data-index="4"] { display: block; width:25%; height:33%; left:75%; top:0%; }
    #layoutwrapper[data-layout-index="20"] .streamoverlay[data-index="4"] { display: block; width:25%; left:75%; top:0%; }
    
    #layoutwrapper[data-layout-index="20"] .streamcontainer[data-index="5"] { display: block; width:25%; height:34%; left:75%; top:33%; }
    #layoutwrapper[data-layout-index="20"] .streamoverlay[data-index="5"] { display: block; width:25%; left:75%; top:33%; }
    
    #layoutwrapper[data-layout-index="20"] .streamcontainer[data-index="6"] { display: block; width:25%; height:33%; left:75%; top:67%; }
    #layoutwrapper[data-layout-index="20"] .streamoverlay[data-index="6"] { display: block; width:25%; left:75%; top:67%; }
    
    
    #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="0"] { display: block; width:50%; height:50%; left:25%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="0"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="0"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="0"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="0"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="0"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="0"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="0"] .chatselector[data-index="6"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="1"] { display: block; width:50%; height:50%; left:25%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="1"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="1"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="1"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="1"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="1"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="1"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="1"] .chatselector[data-index="6"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="2"] { display: block; width:50%; height:50%; left:25%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="2"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="2"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="2"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="2"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="2"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="2"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="2"] .chatselector[data-index="6"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="3"] { display: block; width:50%; height:50%; left:25%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="3"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="3"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="3"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="3"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="3"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="3"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="3"] .chatselector[data-index="6"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="4"] { display: block; width:50%; height:50%; left:25%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="4"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="4"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="4"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="4"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="4"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="4"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="4"] .chatselector[data-index="6"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="5"] { display: block; width:50%; height:50%; left:25%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="5"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="5"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="5"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="5"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="5"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="5"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="5"] .chatselector[data-index="6"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="6"] { display: block; width:50%; height:50%; left:25%; top:50%; }
        
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="6"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="6"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="6"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="6"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="6"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="6"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="20"] .chatcontainer[data-index="6"] .chatselector[data-index="6"] { display: block; }
        
    
    
    

    #layoutwrapper[data-layout-index="21"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="21"] .streamcontainer[data-index="0"] { display: block; width:33%; height:60%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="21"] .streamoverlay[data-index="0"] { display: block; width:33%; left:0%; top:0%; }
    
    #layoutwrapper[data-layout-index="21"] .streamcontainer[data-index="1"] { display: block; width:34%; height:60%; left:33%; top:0%; }
    #layoutwrapper[data-layout-index="21"] .streamoverlay[data-index="1"] { display: block; width:34%; left:33%; top:0%; }
    
    #layoutwrapper[data-layout-index="21"] .streamcontainer[data-index="2"] { display: block; width:33%; height:60%; left:67%; top:0%; }
    #layoutwrapper[data-layout-index="21"] .streamoverlay[data-index="2"] { display: block; width:33%; left:67%; top:0%; }
    
    #layoutwrapper[data-layout-index="21"] .streamcontainer[data-index="3"] { display: block; width:25%; height:40%; left:0%; top:60%; }
    #layoutwrapper[data-layout-index="21"] .streamoverlay[data-index="3"] { display: block; width:25%; left:0%; top:60%; }
    
    #layoutwrapper[data-layout-index="21"] .streamcontainer[data-index="4"] { display: block; width:25%; height:40%; left:25%; top:60%; }
    #layoutwrapper[data-layout-index="21"] .streamoverlay[data-index="4"] { display: block; width:25%; left:25%; top:60%; }
    
    #layoutwrapper[data-layout-index="21"] .streamcontainer[data-index="5"] { display: block; width:25%; height:40%; left:50%; top:60%; }
    #layoutwrapper[data-layout-index="21"] .streamoverlay[data-index="5"] { display: block; width:25%; left:50%; top:60%; }
    
    #layoutwrapper[data-layout-index="21"] .streamcontainer[data-index="6"] { display: block; width:25%; height:40%; left:75%; top:60%; }
    #layoutwrapper[data-layout-index="21"] .streamoverlay[data-index="6"] { display: block; width:25%; left:75%; top:60%; }
    
    
    
    
        #layoutwrapper[data-layout-index="21"] .hidden-when-no-chat {display: none;}
        #layoutwrapper[data-layout-index="21"] .streamoverlay .mainbuttons button {border-radius: 5px;}
    



    #layoutwrapper[data-layout-index="22"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="22"] .streamcontainer[data-index="0"] { display: block; width:33%; height:33%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="22"] .streamoverlay[data-index="0"] { display: block; width:33%; left:0%; top:0%; }
    
    #layoutwrapper[data-layout-index="22"] .streamcontainer[data-index="1"] { display: block; width:34%; height:33%; left:33%; top:0%; }
    #layoutwrapper[data-layout-index="22"] .streamoverlay[data-index="1"] { display: block; width:34%; left:33%; top:0%; }
    
    #layoutwrapper[data-layout-index="22"] .streamcontainer[data-index="2"] { display: block; width:33%; height:33%; left:67%; top:0%; }
    #layoutwrapper[data-layout-index="22"] .streamoverlay[data-index="2"] { display: block; width:33%; left:67%; top:0%; }
    
    #layoutwrapper[data-layout-index="22"] .streamcontainer[data-index="3"] { display: block; width:33%; height:34%; left:0%; top:33%; }
    #layoutwrapper[data-layout-index="22"] .streamoverlay[data-index="3"] { display: block; width:33%; left:0%; top:33%; }
    
    #layoutwrapper[data-layout-index="22"] .streamcontainer[data-index="4"] { display: block; width:34%; height:34%; left:33%; top:33%; }
    #layoutwrapper[data-layout-index="22"] .streamoverlay[data-index="4"] { display: block; width:34%; left:33%; top:33%; }
    
    #layoutwrapper[data-layout-index="22"] .streamcontainer[data-index="5"] { display: block; width:33%; height:34%; left:67%; top:33%; }
    #layoutwrapper[data-layout-index="22"] .streamoverlay[data-index="5"] { display: block; width:33%; left:67%; top:33%; }
    
    #layoutwrapper[data-layout-index="22"] .streamcontainer[data-index="6"] { display: block; width:33%; height:33%; left:0%; top:67%; }
    #layoutwrapper[data-layout-index="22"] .streamoverlay[data-index="6"] { display: block; width:33%; left:0%; top:67%; }
    
    #layoutwrapper[data-layout-index="22"] .streamcontainer[data-index="7"] { display: block; width:34%; height:33%; left:33%; top:67%; }
    #layoutwrapper[data-layout-index="22"] .streamoverlay[data-index="7"] { display: block; width:34%; left:33%; top:67%; }
    
    
    #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="0"] { display: block; width:33%; height:33%; left:67%; top:67%; }
        
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="0"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="0"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="0"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="0"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="0"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="0"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="0"] .chatselector[data-index="6"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="0"] .chatselector[data-index="7"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="1"] { display: block; width:33%; height:33%; left:67%; top:67%; }
        
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="1"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="1"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="1"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="1"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="1"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="1"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="1"] .chatselector[data-index="6"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="1"] .chatselector[data-index="7"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="2"] { display: block; width:33%; height:33%; left:67%; top:67%; }
        
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="2"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="2"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="2"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="2"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="2"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="2"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="2"] .chatselector[data-index="6"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="2"] .chatselector[data-index="7"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="3"] { display: block; width:33%; height:33%; left:67%; top:67%; }
        
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="3"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="3"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="3"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="3"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="3"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="3"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="3"] .chatselector[data-index="6"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="3"] .chatselector[data-index="7"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="4"] { display: block; width:33%; height:33%; left:67%; top:67%; }
        
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="4"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="4"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="4"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="4"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="4"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="4"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="4"] .chatselector[data-index="6"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="4"] .chatselector[data-index="7"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="5"] { display: block; width:33%; height:33%; left:67%; top:67%; }
        
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="5"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="5"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="5"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="5"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="5"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="5"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="5"] .chatselector[data-index="6"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="5"] .chatselector[data-index="7"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="6"] { display: block; width:33%; height:33%; left:67%; top:67%; }
        
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="6"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="6"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="6"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="6"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="6"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="6"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="6"] .chatselector[data-index="6"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="6"] .chatselector[data-index="7"] { display: block; }
        
    
    #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="7"] { display: block; width:33%; height:33%; left:67%; top:67%; }
        
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="7"] .chatselector[data-index="0"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="7"] .chatselector[data-index="1"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="7"] .chatselector[data-index="2"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="7"] .chatselector[data-index="3"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="7"] .chatselector[data-index="4"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="7"] .chatselector[data-index="5"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="7"] .chatselector[data-index="6"] { display: block; }
        
            #layoutwrapper[data-layout-index="22"] .chatcontainer[data-index="7"] .chatselector[data-index="7"] { display: block; }
        
    
    
    

    #layoutwrapper[data-layout-index="23"] { width:100%; height:100%; }
    
    #layoutwrapper[data-layout-index="23"] .streamcontainer[data-index="0"] { display: block; width:25%; height:50%; left:0%; top:0%; }
    #layoutwrapper[data-layout-index="23"] .streamoverlay[data-index="0"] { display: block; width:25%; left:0%; top:0%; }
    
    #layoutwrapper[data-layout-index="23"] .streamcontainer[data-index="1"] { display: block; width:25%; height:50%; left:25%; top:0%; }
    #layoutwrapper[data-layout-index="23"] .streamoverlay[data-index="1"] { display: block; width:25%; left:25%; top:0%; }
    
    #layoutwrapper[data-layout-index="23"] .streamcontainer[data-index="2"] { display: block; width:25%; height:50%; left:50%; top:0%; }
    #layoutwrapper[data-layout-index="23"] .streamoverlay[data-index="2"] { display: block; width:25%; left:50%; top:0%; }
    
    #layoutwrapper[data-layout-index="23"] .streamcontainer[data-index="3"] { display: block; width:25%; height:50%; left:75%; top:0%; }
    #layoutwrapper[data-layout-index="23"] .streamoverlay[data-index="3"] { display: block; width:25%; left:75%; top:0%; }
    
    #layoutwrapper[data-layout-index="23"] .streamcontainer[data-index="4"] { display: block; width:25%; height:50%; left:0%; top:50%; }
    #layoutwrapper[data-layout-index="23"] .streamoverlay[data-index="4"] { display: block; width:25%; left:0%; top:50%; }
    
    #layoutwrapper[data-layout-index="23"] .streamcontainer[data-index="5"] { display: block; width:25%; height:50%; left:25%; top:50%; }
    #layoutwrapper[data-layout-index="23"] .streamoverlay[data-index="5"] { display: block; width:25%; left:25%; top:50%; }
    
    #layoutwrapper[data-layout-index="23"] .streamcontainer[data-index="6"] { display: block; width:25%; height:50%; left:50%; top:50%; }
    #layoutwrapper[data-layout-index="23"] .streamoverlay[data-index="6"] { display: block; width:25%; left:50%; top:50%; }
    
    #layoutwrapper[data-layout-index="23"] .streamcontainer[data-index="7"] { display: block; width:25%; height:50%; left:75%; top:50%; }
    #layoutwrapper[data-layout-index="23"] .streamoverlay[data-index="7"] { display: block; width:25%; left:75%; top:50%; }
    
    
    
    
        #layoutwrapper[data-layout-index="23"] .hidden-when-no-chat {display: none;}
        #layoutwrapper[data-layout-index="23"] .streamoverlay .mainbuttons button {border-radius: 5px;}
    


</style>

